.categories-main{
    display: flex;
    background-color: #F6F7F9;
}

.sidebar{
    background-color:  $white;
    padding: 32px;
    
    &-header
    {
        font-size: 12px;
        font-weight: 600;
        color: $secondary-300;
    }
    .type-list{
        padding: 0;
    }

    .type-list-item{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;

        input {
            border: 1px solid $secondary-300;
        }
        label{
            font-size: 20px;
            color: $primary-500;
            font-weight: 600;

            span{
                color: $secondary-300;
            }
        }

    }

    .sidebar-capacity{
        margin-top: 56px;
    }
    .capacity-list{
        padding: 0;
    }

    .capacity-list-item{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;

        input {
            border: 1px solid $secondary-300;
        }
        label{
            font-size: 20px;
            font-weight: 600;
            color: $primary-500;

            span{
                color: $secondary-300;
            }
        }

    }

    .sidebar-price{
        margin-top: 32px;
    }
}